pip install torch torchvision torchaudio --index-url https://download.pytorch.org/whl/cu121
langchain
langchain_community
langchain_openai
docling
pdfplumber
sentence-transformers
faiss-gpu
langchain_ollama